<div class="notifications">
  <% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
  <% end %>
</div>
<div class="container-fiuld room">
  <h4 class="pb-4">検索結果：100件</h4>
  <div class="row">
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="room-frame-inner">
        <a href="/rooms/1">
          <div class="room-image-out">
            <img alt="部屋画像" class="room-image" src="/assets/room01.jpg" />
          </div>
          <div class="room-profile">
            <p class="room-profile-name">Coriander Ground</p>
            <p class="room-profile-city">東京</p>
            <p class="room-profile-address">渋谷区0-0-0</p>
            <p class="room-profile-price price-icon">10000</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="room-frame-inner">
        <a href="/rooms/1">
          <div class="room-image-out">
            <img alt="部屋画像" class="room-image" src="/assets/room01.jpg" />
          </div>
          <div class="room-profile">
            <p class="room-profile-name">Coriander Ground</p>
            <p class="room-profile-city">東京</p>
            <p class="room-profile-address">渋谷区0-0-0</p>
            <p class="room-profile-price price-icon">10000</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="room-frame-inner">
        <a href="/rooms/1">
          <div class="room-image-out">
            <img alt="部屋画像" class="room-image" src="/assets/room01.jpg" />
          </div>
          <div class="room-profile">
            <p class="room-profile-name">Coriander Ground</p>
            <p class="room-profile-city">東京</p>
            <p class="room-profile-address">渋谷区0-0-0</p>
            <p class="room-profile-price price-icon">10000</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="room-frame-inner">
        <a href="/rooms/1">
          <div class="room-image-out">
            <img alt="部屋画像" class="room-image" src="/assets/room01.jpg" />
          </div>
          <div class="room-profile">
            <p class="room-profile-name">Coriander Ground</p>
            <p class="room-profile-city">東京</p>
            <p class="room-profile-address">渋谷区0-0-0</p>
            <p class="room-profile-price price-icon">10000</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="room-frame-inner">
        <a href="/rooms/1">
          <div class="room-image-out">
            <img alt="部屋画像" class="room-image" src="/assets/room01.jpg" />
          </div>
          <div class="room-profile">
            <p class="room-profile-name">Coriander Ground</p>
            <p class="room-profile-city">東京</p>
            <p class="room-profile-address">渋谷区0-0-0</p>
            <p class="room-profile-price price-icon">10000</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="room-frame-inner">
        <a href="/rooms/1">
          <div class="room-image-out">
            <img alt="部屋画像" class="room-image" src="/assets/room01.jpg" />
          </div>
          <div class="room-profile">
            <p class="room-profile-name">Coriander Ground</p>
            <p class="room-profile-city">東京</p>
            <p class="room-profile-address">渋谷区0-0-0</p>
            <p class="room-profile-price price-icon">10000</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="room-frame-inner">
        <a href="/rooms/1">
          <div class="room-image-out">
            <img alt="部屋画像" class="room-image" src="/assets/room01.jpg" />
          </div>
          <div class="room-profile">
            <p class="room-profile-name">Coriander Ground</p>
            <p class="room-profile-city">東京</p>
            <p class="room-profile-address">渋谷区0-0-0</p>
            <p class="room-profile-price price-icon">10000</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="room-frame-inner">
        <a href="/rooms/1">
          <div class="room-image-out">
            <img alt="部屋画像" class="room-image" src="/assets/room01.jpg" />
          </div>
          <div class="room-profile">
            <p class="room-profile-name">Coriander Ground</p>
            <p class="room-profile-city">東京</p>
            <p class="room-profile-address">渋谷区0-0-0</p>
            <p class="room-profile-price price-icon">10000</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="room-frame-inner">
        <a href="/rooms/1">
          <div class="room-image-out">
            <img alt="部屋画像" class="room-image" src="/assets/room01.jpg" />
          </div>
          <div class="room-profile">
            <p class="room-profile-name">Coriander Ground</p>
            <p class="room-profile-city">東京</p>
            <p class="room-profile-address">渋谷区0-0-0</p>
            <p class="room-profile-price price-icon">10000</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="room-frame-inner">
        <a href="/rooms/1">
          <div class="room-image-out">
            <img alt="部屋画像" class="room-image" src="/assets/room01.jpg" />
          </div>
          <div class="room-profile">
            <p class="room-profile-name">Coriander Ground</p>
            <p class="room-profile-city">東京</p>
            <p class="room-profile-address">渋谷区0-0-0</p>
            <p class="room-profile-price price-icon">10000</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="room-frame-inner">
        <a href="/rooms/1">
          <div class="room-image-out">
            <img alt="部屋画像" class="room-image" src="/assets/room01.jpg" />
          </div>
          <div class="room-profile">
            <p class="room-profile-name">Coriander Ground</p>
            <p class="room-profile-city">東京</p>
            <p class="room-profile-address">渋谷区0-0-0</p>
            <p class="room-profile-price price-icon">10000</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="room-frame-inner">
        <a href="/rooms/1">
          <div class="room-image-out">
            <img alt="部屋画像" class="room-image" src="/assets/room01.jpg" />
          </div>
          <div class="room-profile">
            <p class="room-profile-name">Coriander Ground</p>
            <p class="room-profile-city">東京</p>
            <p class="room-profile-address">渋谷区0-0-0</p>
            <p class="room-profile-price price-icon">10000</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
